---
layout: layout
title: "Home of Feross Aboukhadijeh"
class: home
---
<div class="left">
  <h2>Blog
    <a class="rss" href="https://feross.org/atom.xml" title="Subscribe to the Feross.org Feed">
      <img src="/images/rss.png" alt="RSS Feed Icon" />
    </a>
  </h2>
  <ul class="listing">
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <time datetime="{{post.date | date: "%Y-%m-%d"}}">
        {{ post.date | date: "%B %e, %Y" }}{% if post.github %}.
        Code on <a href="{{ post.github }}">GitHub</a>.
        {% endif %}
      </time>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="right">
  <h2>Hey there!</h2>
  <div class="bio">
    <p>
      I'm <strong>Feross Aboukhadijeh</strong> and this is my blog.
    </p>
    <p>
      Read my <a href="/about/" class="strong">bio</a> and <a href="/resume/" class="strong">résumé</a>.
      <br>Follow me on <a href="https://twitter.com/feross">Twitter</a>.
      <br>Thank you to <a href="/thanks/">my supporters</a>!
    </p>

    <a class="avatar" href="/about/" title="Feross Aboukhadijeh">
      <img src="/images/feross-japan.jpg" alt="I am so handsome."/>
    </a>

    {% include ad.html %}

    <small>Total blog post views: <span class="views"></span></small>
  </div>

  <!-- Tweets -->
  <a class="twitter-timeline" href="https://twitter.com/feross" data-widget-id="284121956708663296">Tweets by @feross</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <h2>Current Projects</h2>
  <ul class="listing">
    <li>
      <a href="https://webtorrent.io">WebTorrent</a>
      <span>Streaming torrent client for the web.</span>
    </li>
    <li>
      <a href="https://webtorrent.io/desktop">WebTorrent Desktop</a>
      <span>Streaming torrent app for Mac, Windows, &amp; Linux.</span>
    </li>
    <li>
      <a href="https://standardjs.com">JavaScript Standard Style</a>
      <span>JavaScript style guide, with linter, &amp; automatic code fixer.</span>
    </li>
    <li>
      <a href="https://www.apstudynotes.org">Study Notes</a>
      <span>Free AP notes &amp; sample college essays for high school students.</span>
    </li>
  </ul>

  <h2>Other</h2>
  <ul class="listing">
    <li>
      <a href="/citations/">Book &amp; Academic Citations</a>
      <span>List of published books and academic research that cite my work.</span>
    </li>
    <li>
      <a href="/quotes/">Favorite Quotes</a>
      <span>List of interesting &amp; inspiring quotes.</span>
    </li>
  </ul>

</div>
