$experimental-support-for-khtml: false;
@import "compass";

// Fonts
$serif: "Adobe Caslon Pro", Caslon,Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
$serif-caps: "gothic-open-shaded" $serif;
$sans-serif: "proxima-nova", Helvetica, sans-serif;

// Post width
$fullWidth: 1000px;
$postWidth: 700px;
$postWidthSmall: 600px;

// Media query break points
$break1: 480px;
$break2: 750px;
$break3: 950px;
$break4: 1100px;
$break5: 1300px;

// Colors
$red: #E22C29;

$lightestGray: #EEE;
$lighterGray: #CCC;
$lightGray: #999;
$gray: #666;
$darkGray: #555;
$darkerGray: #333;

$bgColor: #FFFEFB;
$adColor: desaturate(darken($bgColor, 3%), 60%);
$adBorderColor: $lightestGray;

// Clearfix
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

// Misc
$link   : '&:link, &:visited';
$focus  : '&:hover, &:focus, &:active';