$experimental-support-for-khtml: false;
@import "compass";


// Variables

$serif: "Adobe Caslon Pro", Caslon,Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
$serif-caps: "gothic-open-shaded" $serif;
$sans-serif: "proxima-nova", Helvetica, sans-serif;


// Colors

$red: #E22C29;

$lightestGray: #EEE;
$lighterGray: #CCC;
$lightGray: #999;
$gray: #666;
$darkGray: #555;
$darkerGray: #333;

$bgColor: #FFFEFB;

// Clearfix

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


// Misc

$link   : '&:link, &:visited';
$focus  : '&:hover, &:focus, &:active';