@import "base";


$fullWidth: 1000px;
$postWidth: 750px;

// Page structure

html {
  overflow-y: scroll;
}

body {
  border-top: 3px solid $red;
  background-color: $bgColor;
  color: $darkGray;
  font-family: $sans-serif;
  margin: 0 0 100px 0;
  -webkit-font-smoothing: antialiased;

  font-size: 18px;
  line-height: 27px;
}

#container {
  margin: 0 auto;
  position: relative;

  width: $postWidth;

  .home &, .about & { width: $fullWidth }
  .post & { width: $postWidth; }
}

.left {
  width: 60%;
  float: left;
}
.right {
  width: 35%;
  float: right;
}


// Typography

a {
  #{$link} {
    color: $red;
    text-decoration: underline;
  }
  #{$focus} {
    text-decoration: none;
  }
}

h1, h2, h3, h4 {
  color: $darkGray;
  line-height: 1em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid $lighterGray;

  // Links in h1 should not affect style
  .post .content & a {
    color: $darkerGray;
    text-decoration: none;
  }
}
h1 { font-size: 2.0em; margin: 1em 0 0.2em 0; }
h2 { font-size: 1.6em; margin: 1em 0 0.6em 0; }
h3 { font-size: 1.4em; margin: 1em 0 0.6em 0; color: $lightGray; }
h4 { font-size: 1.2em; margin: 1em 0 0.6em 0; color: $lightGray; }


// Color

.light { color: $lighterGray; }


// Content

img, iframe, object, embed, audio, video {
  display: block;
  margin: 20px auto;
  max-width: $postWidth;
}

img {
  padding: 3px;
  border: 1px solid $lightestGray;
  max-width: 100%;
}


// Header

header[role="banner"] {
  text-align: center;

  h1 {
    border-bottom: none;
    font-family: $serif-caps;
    font-size: 5em;
    font-weight: bold;
    line-height: 1em;
    margin: 35px 0 0 0;
  }

  span {
    font-size: 0.5em;
  }

  a {
    #{$link} {
      text-decoration: none;
    }

    #{$focus} {
      &:before {
        content: "{ ";
      }
      &:after {
        content: " }";
      }
    }
 
  }

}


// Homepage layout

.home {
  h2 {
    margin-top: 1.2em;
  }
}


// Post layout

.post {
  time {
    color: $lightGray;
    font-size: 0.9em;
  }
}


// Listing

ul.listing {
  margin: 20px 0 30px 0;
  padding: 0;

  li {
    list-style: none;
    margin: 20px 0;
  }
  a {
    #{$link} {
      font-size: 1.1em;
      font-weight: bold;
      text-decoration: none;
    }
    #{$focus} {
      text-decoration: underline;
    }
  }

  span, time {
    display: block;
  }

  span {
    color: $gray;
  }

  time {
    color: $lightGray;
  }

}


// Pygments syntax highlighting

.highlight {
  margin: 0 0 1.2em 0;
  background-color: #eee;
  font-size: 13px;
  line-height: 1.4em;
  padding: 0px 15px;
  @include border-radius(10px);
  overflow: hidden;
  color: #111;
}
.hightlight code{
  float: left;
}
.highlight:hover {
  overflow: auto;
}


// About

.about img {
  // float: right;
  // width: 300px;
}

#ageInDays { font-style: italic; }


// Nav

nav {
  position: absolute;
  top: 5px;
  right: 0;

  a {
    #{$link} {
      background: rgba($red, 0.8);
      @include border-radius(15px);
      color: #fff;
      display: inline-block;
      font-size: 0.8em;
      font-weight: bold;
      height: 30px;
      line-height: 2.1em;
      margin-left: 10px;
      padding: 0 15px;
      text-align: center;
      text-decoration: none;
    }

    #{$focus} {
      background: rgba($red, 1);
    }
  }
}
