@import "base";


$fullWidth: 1000px;
$postWidth: 750px;

// Page structure

html {
  overflow-y: scroll;
}

body {
  border-top: 3px solid $red;
  background-color: $bgColor;
  color: $darkerGray;
  font-family: $sans-serif;
  -webkit-font-smoothing: antialiased;

  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;

  @media only screen and (max-width: 750px) {
    font-size: 16px;
  }
  @media only screen and (max-width: 480px) {
    font-size: 15px;
  }
}

#container {
  margin: 0 auto 60px auto;
  max-width: $postWidth;
  padding: 0 2%;
  width: 92%;

  .home &, .about &, .resume & {
    max-width: $fullWidth;
  }
}

.left {
  float: left;
  width: 60%;
}
.right {
  float: right;
  width: 35%;
}
.left, .right {
  @media only screen and (max-width: 750px) {
    float: none;
    width: 100%;
  }
}


// Typography

a {
  #{$link} {
    color: $red;
    text-decoration: underline;
  }
  #{$focus} {
    text-decoration: none;
  }
}

h1, h2, h3, h4 {
  color: $darkerGray;
  line-height: 1.2em;
  border-bottom: 1px solid $lighterGray;

  a {
    #{$link} {
      text-decoration: none;
    }
    #{$focus} {
      text-decoration: underline;
    }
  }
}
h1 { font-size: 1.8em; margin: 0.8em 0 0.2em 0; }
h2 { font-size: 1.5em; margin: 1.2em 0 0.6em 0; }
h3 { font-size: 1.3em; margin: 1.2em 0 0.6em 0; color: $lightGray; }
h4 { font-size: 1.1em; margin: 1.2em 0 0.6em 0; color: $lightGray; }

// Links in h1 should not affect style
.content h1 a {
  #{$link} {
    color: $darkerGray;
    text-decoration: none;
  }
}

p {
  font-size: 1em;
  margin: 1em 0;
  line-height: 1.6em;

  code {
    font-size: 12px;
    background-color: $lightestGray;
    border: 1px solid $lightGray;
    border-radius: 3px;
    padding: 2px 4px;
    white-space: nowrap;
  }
}

blockquote {
  padding: 0.7em 2em;
  border: 1px solid $lighterGray;
  border-left: 8px solid $red;
  background-color: #F7F7F7;
  font-style: italic;
  color: $darkGray;
}

ul {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

li {
  margin: 0.3em 0;
}

abbr[title] { border-bottom: 1px dotted $lightGray; }


// Non-semantic helper classes

.red { color: $red; }
.strong { font-weight: bold; }


// Content

img, iframe, object, embed, audio, video {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

img {
  padding: 3px;
  border: 1px solid $lightestGray;
}


// Header

header[role="banner"] {
  text-align: center;
  h1 {
    border-bottom: none;
    font-family: $serif-caps;
    font-size: 4em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 40px 0 10px 0;

    @media only screen and (max-width: 480px) {
      font-size: 3em;
      margin: 30px 0 0 0;
    }
  }
  a {
    #{$link} {
      text-decoration: none;
    }
    #{$focus} {
      border-bottom: 6px solid $red;
    }
  }
}

#github {
  position: absolute;
  top: 50px;
  left: -75px;

  @include rotate(-45deg);

  background: lighten($red, 6%);
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 80px;
  text-align: center;
  text-decoration: none;
  @include text-shadow(10px, 10px, 10px, $darkerGray);
  @include box-shadow(#999 1px 1px 4px);

  #{$focus} {
    background: $red;
  }

  @media only screen and (max-width: 750px) {
    display: none;
  }

}


// Homepage layout

.home {
  h2 {
    position: relative;
    margin-top: 1.2em;
  }
}
.rss {
  opacity: 0.15;
  float: right;
  height: 23px;
  width: 23px;
  img { margin: 0; border: 0; padding: 1px; }
  &:hover { opacity: 1; }
}


// Post layout

.byline {
  color: $lightGray;
  font-size: 0.75em;
}

// Add bullets between byline items
.byline > *:not(:last-child):after {
  content: " \2022 ";
  padding: 0 0.4em;
}

// Inline the tag list
.tags {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style-type: none;
}
.tags li {
  display: inline;
}

// Add commas between tags
.tags li:not(:last-child):after {
  content: ", ";
}

// Make tag links subtle gray
.byline a {
  #{$link} {
    color: $lightGray;
    text-decoration: underline;
  }
  #{$focus} {
    color: $red;
    text-decoration: underline;
  }
}

.meta {
  margin-top: 75px;
}

.copy {
  .avatar {
    float: left;
    img { margin: 0 15px 15px 0; }
  }

  input { display: inline; font-size: 14px; }
  [type="email"] { margin-left: 10px; width: 150px; }

  .twitter-share-button, .twitter-follow-button { display: inline-block; }
  iframe {
    margin: 0 0 30px 0;
    vertical-align: top;
  }
}


// Resume layout

.resume {
  h1 {
    border-bottom: 0;
    margin-top: 0;
    text-align: center;
  }

  h3 {
    border-bottom: 0;
    color: $darkerGray;
    font-size: 1.05em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-decoration: none;
    vertical-align: top;

  }

  // Dates
  li, h3 {
    span { 
      color: $gray;
      font-size: 0.8em;
      font-weight: normal;
      margin-left: 5px;
      &:before { content: " ["; }
      &:after { content: "]"; }
    }
  }

  .right {
    h3 { margin-bottom: 0.3em; }
    h3 + p { margin: 0.3em 0; }
    ul { margin-top: 0.3em; }
  }

}


// Prev/next post links

a.prev {
  left: -110px;
  @include rotate(-90deg);
}

a.next {
  right: -110px;
  @include rotate(90deg);
}

a.prev, a.next {
  display: block;
  font-size: 1.1em;
  opacity: 0.8;
  overflow: hidden;
  padding: 50px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  top: 45%;
  width: 250px;
  white-space: nowrap;
  z-index: 2;

  &:hover {
    opacity: 1 !important;
  }

  &:before {
    content: "";
    @include background(image-url('up.png'));
    background-size: cover;
    background-repeat: no-repeat;
    height: 24px;
    left: 50%;
    margin-left: -12px;
    position: absolute;
    top: 25px;
    width: 24px;
  }

  @media only screen and (max-width: 950px) {
    display: none;
  }
}


// Blog post listing

ul.listing {
  margin: 20px 0 30px 0;
  padding: 0;

  > li {
    list-style: none;
    margin: 20px 0;
    > a {
        #{$link} {
          font-size: 1.1em;
          font-weight: bold;
          text-decoration: none;
        }
        #{$focus} {
          text-decoration: underline;
        }
      }
  }
  span, time {
    display: block;
    color: $gray;
  }
  time {
    a {
      #{$link} {
        color: $gray;
        text-decoration: underline;
      }
      #{$focus} {
        color: $red;
      }
      }
  }
}


// Pygments syntax highlighting

.highlight {
  margin: 1.2em 0;
  background-color: $lightestGray;
  font-size: 13px;
  line-height: 1.4em;
  padding: 0px 15px;
  @include border-radius(10px);
  overflow: hidden;
  color: $darkerGray;
}
.hightlight code{
  float: left;
}
.highlight:hover {
  overflow: auto;
}
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #888888 } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #008800; font-weight: bold } /* Keyword */
.highlight .cm { color: #888888 } /* Comment.Multiline */
.highlight .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #888888 } /* Comment.Single */
.highlight .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #303030 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #606060 } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008800 } /* Keyword.Pseudo */
.highlight .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #888888; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #0000DD; font-weight: bold } /* Literal.Number */
.highlight .s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.highlight .na { color: #336699 } /* Name.Attribute */
.highlight .nb { color: #003388 } /* Name.Builtin */
.highlight .nc { color: #bb0066; font-weight: bold } /* Name.Class */
.highlight .no { color: #003366; font-weight: bold } /* Name.Constant */
.highlight .nd { color: #555555 } /* Name.Decorator */
.highlight .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0066bb; font-weight: bold } /* Name.Function */
.highlight .nl { color: #336699; font-style: italic } /* Name.Label */
.highlight .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.highlight .py { color: #336699; font-weight: bold } /* Name.Property */
.highlight .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #336699 } /* Name.Variable */
.highlight .ow { color: #008800 } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.highlight .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.highlight .sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.highlight .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.highlight .s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.highlight .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.highlight .sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.highlight .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.highlight .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.highlight .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.highlight .s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.highlight .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.highlight .bp { color: #003388 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #336699 } /* Name.Variable.Class */
.highlight .vg { color: #dd7700 } /* Name.Variable.Global */
.highlight .vi { color: #3333bb } /* Name.Variable.Instance */
.highlight .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */





