---
layout: layout
title: Feross Aboukhadijeh Bio
class: about
---

<h2>👋 Hey there, I'm Feross! ✨</h2>

<div class="left">
  <p>
    I'm <strong>Feross Aboukhadijeh</strong>, an entrepreneur, programmer, open source author, and mad scientist.
  </p>
  <p>
    I maintain <strong><a href="https://www.npmjs.com/~feross">100+ packages on npm</a></strong> which are downloaded 100+ million times per month. All my code is freely accessible on <a href="https://github.com/feross">GitHub</a> and funded by <a href="/thanks/">my supporters</a>. I now offer a <a href="/support/">support contract</a> for companies and teams.
  </p>
  <p>
    I build innovative projects like <a href="https://webtorrent.io">WebTorrent</a>, a streaming torrent client for the web, <a href="https://webtorrent.io/desktop">WebTorrent Desktop</a>, a slick torrent app for Mac/Windows/Linux, and <a href="https://standardjs.com">StandardJS</a>, a JavaScript style guide, linter, and automatic code fixer.
  </p>
  <p>I also work on fun projects like <a href="https://bitmidi.com" title="Free MIDI files">BitMidi</a>, a free MIDI file database, <a href="https://play.cash">Play</a>, a music video app, and <a href="https://www.apstudynotes.org/" title="AP Notes">Study Notes</a>, a study tool with <a href="https://www.apstudynotes.org/essays/" title="College Essays">college essay examples</a>.
  </p>
  <p>
    Before that, I built <a href="/peercdn">PeerCDN</a>, a next-generation <abbr title="Content Delivery Network">CDN</abbr> powered by <abbr title="Web Real-Time Communication">WebRTC</abbr> for efficient peer-to-peer content delivery, which was acquired by Yahoo.
  </p>
  <p>
    I'm a graduate of <a href="https://stanford.edu/">Stanford University</a> and I've worked at <a href="https://www.quora.com/">Quora</a>, <a href="https://www.facebook.com/">Facebook</a>, <a href="https://www.yahoo.com/">Yahoo</a>, and <a href="https://www.intel.com/">Intel</a>. In the past, I did research in the Stanford <a href="https://hci.stanford.edu/">human-computer interaction</a> and <a href="https://seclab.stanford.edu/">computer security</a> labs.
  </p>
  <p>
    At Stanford, I taught computer science for 6 quarters to students in Stanford's <a href="http://cs198.stanford.edu">CS 198</a> section leader program, and was a teaching assistant for <a href="http://cs107.stanford.edu">CS107: Computer Organization and Systems</a> and <a href="https://cs110.stanford.edu">CS 110: Principles of Computer Systems</a> courses for 3 quarters. I organized lots of fun computing-related events as president of the <a href="http://stanfordacm.com">Stanford Association for Computing Machinery</a> chapter.
  </p>
  <p>
    In September 2010, I built <a href="http://ytinstant.com">YouTube Instant</a> in just 3 hours as a bet with my roommate. The site garnered immediate worldwide media attention &mdash; 1 million visitors in 10 days, and hundreds of news stories. Chad Hurley, CEO and co-founder of YouTube, was so impressed that he immediately offered me a job at YouTube (which I had to turn down in order to finish my degree).
  </p>
  <p>
    I enjoy working on "mad science" &mdash; stuff that makes people say, "Whoa! I didn't know that was possible!".
  </p>
  <p>
    My <a href="/resume/">resume</a> is available if you want to be all, like, formal and stuff, dude.
  </p>
  <p>
    Email me at <a href="mailto:">[my first name]@feross.org</a>.
  </p>

  <h2>My 3 most recent blog posts</h2>

  <ul class="listing">
    <li>
      <a href="{{ site.posts[0].url }}">{{ site.posts[0].title }}</a>
      <time datetime="{{site.posts[0].date | date: "%Y-%m-%d"}}">
        {{ site.posts[0].date | date: "%B %e, %Y" }}{% if site.posts[0].github %}.
        Code on <a href="{{ site.posts[0].github }}">GitHub</a>.
        {% endif %}
      </time>
    <li>
    <li>
      <a href="{{ site.posts[1].url }}">{{ site.posts[1].title }}</a>
      <time datetime="{{site.posts[1].date | date: "%Y-%m-%d"}}">
        {{ site.posts[1].date | date: "%B %e, %Y" }}{% if site.posts[1].github %}.
        Code on <a href="{{ site.posts[1].github }}">GitHub</a>.
        {% endif %}
      </time>
    <li>
    <li>
      <a href="{{ site.posts[2].url }}">{{ site.posts[2].title }}</a>
      <time datetime="{{site.posts[2].date | date: "%Y-%m-%d"}}">
        {{ site.posts[2].date | date: "%B %e, %Y" }}{% if site.posts[2].github %}.
        Code on <a href="{{ site.posts[2].github }}">GitHub</a>.
        {% endif %}
      </time>
    <li>
  </ul>

  <h2>Nice words others have written about me</h2>

  <ul class="listing">
    <li>
      <a href="http://www.chriskranky.com/interview-peercdn-feross-aboukhadijeh/">Chris Kranky (WebRTC expert)</a>
      <span>Interview with PeerCDN's Feross Aboukhadijeh</span>
    </li>

    <li>
      <a href="https://www.youtube.com/watch?v=BZpvzUjdCKI">PandoDaily</a>
      <span>"Top 5 Stanford CS Students You Should Know"</span>
    </li>

    <li>
      <a href="https://www.youtube.com/watch?v=jLTBNj9dHtc">The PhenomList</a>
      <span>"Feross Aboukhadijeh"</span>
    </li>

    <li>
      <a href="http://nymag.com/news/features/silicon-valley-2011-9">New York Magazine</a>
      <span>"Bubble Boys"</span>
    </li>

    <li>
      <a href="https://www.youtube.com/watch?v=dECfaTxJ9Yo">CNN (TV interview)</a>
      <span>"Hiring Spree in Silicon Valley"</span>
    </li>

    <li>
      <a href="http://allthingsd.com/20110422/early-adopter-from-the-hacker-who-brought-you-youtube-instant-instant-fm-launches-today/">All Things Digital</a>
      <span>"Instant.fm Launches Today"</span>
    </li>

    <li>
      <a href="http://www.sacmag.com/Sacramento-Magazine/January-2011/People-of-the-Year/">Sacramento Magazine</a>
      <span>"2010 People of the Year"</span>
    </li>

    <li>
      <a href="https://www.youtube.com/watch?v=ON4DmrczWuU">NBC (TV interview)</a>
      <span>"Instant Success"</span>
    </li>
  </ul>

</div>

<div class="right">
  <img src="/images/feross-computer.png" alt="Me as a little kid. I was obsessed with computers from the very beginning." style="border: none;"/>
  <img src="/images/feross-angel.jpg" alt="Feross Aboukhadijeh in New York Magazine. Photo by Dan Winters." />
  {% include ad.html %}
</div>
