---
layout: layout
title: Feross Aboukhadijeh Bio
class: about
script: >
  var ageInDays = Math.floor((new Date() - new Date('1990-10-31T00:00:01.000Z')) / 1000 / 60 / 60 / 24);

  var ageInYears = Math.floor(ageInDays / 365);

  $('#ageInDays').html(' &mdash; that\'s ' + ageInDays + ' days to be exact!');
  $('#ageInYears').text(ageInYears);

---

<h2>Hey, nice to meet you!</h2>

<div class="left">


  <p>
    I'm <strong>Feross Aboukhadijeh</strong> &lt;<a href="mailto:feross@feross.org">feross@feross.org</a>&gt;, a programmer, designer, teacher, and mad scientist.
  </p>
  <p>
    I'm <span id="ageInYears"></span> years old<span id="ageInDays">.</span>
  </p>
  <p>
    I am currently building <a href="http://webtorrent.io">WebTorrent</a>, a streaming BitTorrent client for the browser, powered by WebRTC. Before that, I built <a href="http://peercdn.com">PeerCDN</a>, a peer-to-peer content delivery network to makes sites faster and cheaper.
  </p>
  <p>
    I'm a graduate of <a href="http://stanford.edu/">Stanford University</a> and I've worked at <a href="http://www.quora.com/">Quora</a>, <a href="http://www.facebook.com/">Facebook</a>, and <a href="http://www.intel.com/">Intel</a>. In the past, I did research in the Stanford <a href="http://hci.stanford.edu/">human-computer interaction</a> and <a href="http://seclab.stanford.edu/">computer security</a> labs.
  </p>
  <p>
    I enjoy working on "mad science" &mdash; projects that make people say, "Whoa! I didn't know that was possible!". I frequently win hackathons by crafting code that gives kids with spectacles spectacular fits. Recently, I built this <a href="https://github.com/feross/oculus-drone">virtual reality piloting</a> program that lets you control a quadcopter with an Oculus Rift.
  </p>
  <p>
    At Stanford, I taught computer science for 6 quarters to students in Stanford's <a href="http://cs198.stanford.edu">CS 198</a> program, and was a teaching assistant for <a href="http://cs107.stanford.edu">CS107: Computer Organization and Systems</a>. I organized lots of sweet computing-related events as president of Stanford's <a href="http://stanfordacm.com">Association for Computing Machinery</a> chapter.
  </p>
  <p>
    In September 2010, I built <a href="http://ytinstant.com">YouTube Instant</a> (a really fast way to search YouTube) in just 3 hours as a bet with my roommate. The site garnered immediate worldwide media attention &mdash; 1 million visitors in 10 days, and hundreds of news stories. Chad Hurley, CEO and co-founder of YouTube, was so impressed that he immediately offered me a job at YouTube (which I had to turn down in order to finish my degree).
  </p>
  <p>
    In my free time, I work on <a href="http://www.apstudynotes.org" title="AP notes">StudyNotes</a>, a website to help students study better. I started it in high school and have been maintaining it ever since. For a sample, check out some <a href="http://www.apstudynotes.org/us-history/">AP US History notes</a> or <a href="http://www.apstudynotes.org/colleges/essays/">college essays</a>.
  </p>
  <p>
    I like long-distance running, basketball, music (playing and listening), anime, and games (counter-strike is my favorite).
  </p>
  <p>
    My <a href="/resume/">resume</a> is available if you want to be all, like, formal and stuff, dude.
  </p>
  <p>
    I currently live in Mountain View, CA.
  </p>

  <h2>Now, go read one of my best blog posts:</h2>

  <ul class="listing">
    {% for post in site.posts %}
    {% if post.best %}
    <li>
      <a href="{{ post.url }}/">{{ post.title }}</a>
      <time datetime="{{post.date | date: "%Y-%m-%d"}}">
        {{ post.date | date: "%B %e, %Y" }}{% if post.github %}.
        Code on <a href="{{ post.github }}">GitHub</a>.
        {% endif %}
      </time>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

</div>

<div class="right">
  <img src="/images/im-soo-handsome.jpg" alt="I am so handsome."/>
  <img src="/images/feross-computer.png" alt="Me as a little kid. I was obsessed with computers from the very beginning." style="border: none;"/>
  <img src="/images/feross-angel.jpg" alt="Feross Aboukhadijeh in New York Magazine. Photo by Dan Winters." />
  {% include ad.html %}
</div>
