<!doctype html>
<html>
<head>
  
  <!--

  Feross Aboukhadijeh
  http://feross.org

  Far better is it to dare mighty things, to win glorius triumphs,
  even though checkered by failure... than to rank with those poor spirits
  who neither enjoy nor suffer much, because they live in a gray twilight
  that knows not victory nor defeat.
                                                  — Theodore Roosevelt
  -->

  {% capture meta_desc %}{% if page.summary %}{{ page.summary }}{% else %}Feross Aboukhadijeh is a computer security researcher, teacher, web developer, designer, long distance runner, gamer, music lover, and builder of websites that (sometimes) go viral.{% endif %}{% endcapture %}

  <title>{{ page.title }} &raquo; Feross.org</title>
  <meta property="og:title" content="{{ page.title }} &raquo; Feross.org" />

  <meta name="description" content="{{ meta_desc }}">
  <meta property="og:description" content="{{ meta_desc }}" />

  <meta property="og:type" content="article" />
  {% if page.tags %}{% for tag in page.tags %}<meta property="article:tag" content="{{ tag | replace: '-', ' ' }}" />{% endfor %}{% endif %}
  <meta property="og:image" content="http://feross.org/images/F.png" />
  
  <meta property="article:author" content="http://feross.org/about/" />
  <meta property="fb:admins" content="1347524341" />
  <meta property="fb:app_id" content="515587071790188" />
  <link rel="author" href="https://plus.google.com/108080265905114949970" />

  {% if page.class == "post" %}
  <link rel="canonical" href="http://feross.org{{ page.url }}/" />
  <meta property="og:url" content="http://feross.org{{ page.url }}/" />
  {% elsif page.class == "home" %}
  <link rel="canonical" href="http://feross.org/" />
  <meta property="og:url" content="http://feross.org/" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="alternate" type="application/atom+xml" title="Feross.org" href="http://feeds.feedburner.com/feross" />

  <link rel="stylesheet" href="/css/compiled/style.css" />
 
  <!-- Async Typekit loader, modified to add "wf-active" class on successful load. -->
  <style>
    .wf-loading{
      opacity: 0;
    }
    .wf-active, .wf-inactive {
      opacity: 1 !important;
      -moz-transition: 0.2s opacity ease-in;
      -webkit-transition: 0.2s opacity ease-in;
      transition: 0.2s opacity ease-in;
    }
  </style>
  <script type="text/javascript">
    (function() {
      var config = {
        kitId: 'lvb8hht',
        scriptTimeout: 1000
      };
      var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config);h.className+="wf-active"}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
  </script>

</head>
<body class="{{ page.class }}">
  <div id="container">

    <header role="banner">
      <h1><a href="http://feross.org">{% if page.class == "resume" %}Feross Aboukhadijeh{% else %}Feross.org{% endif %}</a></h1>
    </header>

    <section class="content clearfix">
      {{ content }}
    
      <!-- Carbon Ad -->
      <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/19591/azcarbon_2_1_0_VERT"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>
    </section>

  </div>

  {% if page.class == "home" %}
    <a href="https://github.com/feross" id="github">Fork me on GitHub</a>
  {% endif %}
  
  <script src="/js/libraries.js"></script>
  <script src="/js/compiled/script.js"></script>

  {% if page.script %}
    <!-- Page-specific script -->
    <script>
      $(function() {
        {{ page.script }}
      });
    </script>
  {% endif %}

  {% if page.demo %}
    <!-- Page-specific demo code -->
    {{ page.demo }}
  {% endif %}

  {% if page.class == "post" %}
  
    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=223190377735910";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  {% endif %}

  <!-- Google Analytics -->
  <script>
    var _gaq=[['_setAccount','UA-3898076-5'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

  <!-- StatCounter -->
  <script type="text/javascript">
      var sc_project=4429957;
      var sc_invisible=1;
      var sc_security="eb342ceb";
  </script>
  <script src="//www.statcounter.com/counter/counter.js"></script><noscript><div class="statcounter"><img class="statcounter" src="http://c.statcounter.com/4429957/0/eb342ceb/1/" alt="statcounter"></div></noscript>

</body>
</html>