<!doctype html>
<html>
<head>

  <!--

  Feross Aboukhadijeh
  http://feross.org

  Far better is it to dare mighty things, to win glorious triumphs,
  even though checkered by failure... than to rank with those poor spirits
  who neither enjoy nor suffer much, because they live in a gray twilight
  that knows not victory nor defeat.
                                                  — Theodore Roosevelt

  -->
  {% capture meta_desc %}{% if page.summary %}{{ page.summary }}{% else %}Feross Aboukhadijeh is a computer security researcher, teacher, web developer, designer, long distance runner, gamer, music lover, and builder of websites that (sometimes) go viral.{% endif %}{% endcapture %}
  <title>{{ page.title }} &raquo; Feross.org</title>
  <meta property="og:title" content="{{ page.title }} &raquo; Feross.org" />

  <meta name="description" content="{{ meta_desc }}">
  <meta property="og:description" content="{{ meta_desc }}" />

  <meta property="og:type" content="article" />
  {% if page.tags %}{% for tag in page.tags %}<meta property="article:tag" content="{{ tag | replace: '-', ' ' }}" />{% endfor %}{% endif %}
  <meta property="og:image" content="http://feross.org/images/F.png" />

  <meta property="article:author" content="http://feross.org/about/" />
  <meta property="fb:admins" content="1347524341" />
  <meta property="fb:app_id" content="515587071790188" />
  <link rel="author" href="https://plus.google.com/108080265905114949970" />

  {% if page.class == "post" %}
  <link rel="canonical" href="http://feross.org{{ page.url }}" />
  <meta property="og:url" content="http://feross.org{{ page.url }}" />
  {% elsif page.class == "home" %}
  <link rel="canonical" href="http://feross.org/" />
  <meta property="og:url" content="http://feross.org/" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
  <meta name="msapplication-TileColor" content="#ff0000">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="alternate" type="application/atom+xml" title="Feross.org" href="http://feross.org/atom.xml" />

  <link rel="stylesheet" href="/css/main.css" />

  <script type="text/javascript" src="//use.typekit.net/lvb8hht.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body class="{{ page.class }}">
  <div id="container">

    <header id="header">
      <h1><a href="/">{% if page.class == "resume" %}Feross Aboukhadijeh{% else %}Feross{% endif %}</a></h1>
    </header>

    <section class="content clearfix">
      {{ content }}
    </section>

    {% if page.class == "home" %}
      <a href="https://github.com/feross" id="github">Fork me on GitHub</a>
    {% endif %}

  </div>

  <script src="/client/bundle.js"></script>

  {% if page.demo %}
    <!-- Page-specific demo code -->
    {{ page.demo }}
  {% endif %}

  {% if page.class == "post" %}

    <!-- Facebook -->
    <div id="fb-root"></div>
    <script async id='facebook-jssdk' src='//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=515587071790188'></script>

    <!-- Twitter -->
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  {% endif %}

  <!-- Google Analytics -->
  <script>
    window.ga = window.ga || function () {
      (ga.q = ga.q || []).push(arguments)
    }
    ga.l = +new Date
    ga('create', 'UA-3898076-5', 'auto')
    ga('send', 'pageview')
  </script>
  <script async src="//www.google-analytics.com/analytics.js"></script>

  <!-- StatCounter -->
  <script>
    var sc_project = 4429957
    var sc_invisible = 1
    var sc_security = 'eb342ceb'
    var sc_https = 1
  </script>
  <script async src="//secure.statcounter.com/counter/counter.js"></script>
  <noscript>
    <img height="1", width="1", style="display:none", src="//c.statcounter.com/4429957/0/eb342ceb/1/">
  </noscript>

</body>
</html>
